/*
	

	rooms - media casting web application
	By: Khalid Magdy / Malak Sowelem / Mohammed Hisham / Peter Emad


*/

a{
	color:#3e92ca;
	text-decoration: none;
	font-size:17px;
}

.button{
	text-decoration: none;
	color:white;
	font-size:15px;
	padding:13px 27px;
	transition: 0.2s background-color
}

.button.green{
	background-color:#54ab85;
}
.button.green:hover{
	background-color:#3d8c69;
}
.button.blue{
	background-color: #3ba1be;
}
.button.blue:hover{
	background-color: #2888a3;
}

input[type=text], input[type=password]{
	padding:13px;
	min-width: 300px;
	border:0;
	font-size:15px;
}

input[type=text]::placeholder, input[type=password]::placeholder{
	color:#b8b8b8;
}