/*
	

	rooms - media casting web application
	By: Khalid Magdy / Malak Sowelem / Mohammed Hisham / Peter Emad


*/

a{
	color:#3e92ca;
	text-decoration: none;
	font-size:17px;
}

a:hover{
	border-bottom:1px dotted #3e92ca;
}

a.button:hover{
	border:0;
}

.wrapper{
	display:inline-block;
}

.button{
	text-decoration: none;
	color:white;
	font-size:15px;
	padding:13px 27px;
	transition: 0.2s background-color
}

.button.green{
	background-color:#54ab85;
}
.button.green:hover{
	background-color:#3d8c69;
}
.button.blue{
	background-color: #3ba1be;
}
.button.blue:hover{
	background-color: #2888a3;
}
.button.red{
	background-color:#b23333;
}
.button.red:hover{
	background-color:#9a2525;
}
.button.disabled{
	background-color:#919191!important;
}

input[type=text], input[type=password]{
	padding:13px;
	min-width: 300px;
	border:0;
	font-size:15px;
}

input[type=text]::placeholder, input[type=password]::placeholder{
	color:#b8b8b8;
}

.flash{
	z-index:99999;
	padding:20px;
	position:absolute;
	left:0;
	right:0;
	max-width: 400px;
	text-align: center;
	margin-right:auto;
	margin-left:auto;
	top:40px;
	opacity:1;
}

.flash.error{
	background-color:#a34a43;
}

.flash.success{
	background-color:#73a343;
}






